<div class="container-fluid">

  <p>Enter the Zip Code to view the current weather</p>
  <form (ngSubmit)="getCurrentConditions(myform.value)" class="form-inline" #myform="ngForm">
    <div class="form-group mx-sm-4 mb-3">
      <label for="inputPassword" class="col-sm-4 col-form-label sr-only">Zip Code</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="zipcode" name="zipcode" placeholder="Zip Code" ngModel>
      </div>
    </div>
    <button type="submit" class="btn btn-primary mb-3">Submit</button>
  </form>

  <div *ngFor="let cc of currentConditions">
    <h4>Location Information</h4>
    <p>{{ message }}</p>
    <p>Hello, today is {{ cc.WeatherText }}.</p>
    <p>Temperature is {{ cc.Temperature.Metric.Value }} {{ cc.Temperature.Metric.Unit }}</p>
  </div>
  <div *ngIf="error">{{ error }}</div>
</div>
